* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  display: block;
  place-items: initial;
  max-width: none;
  text-align: left;
  overflow-x: hidden;
  background: #26241f;
}



